{% extends 'base.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">{{ 'create_price_table'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}